<header class="bg-white">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex-1 md:flex md:items-center md:gap-12">
        <span class="block text-teal-600 cursor-pointer">
          <span class="" (click)="openTaskPage()">Tasks</span>
        </span>
      </div>

      <div class="md:flex md:items-center md:gap-12">

        <div class="flex items-center gap-4">
          <div class="sm:flex sm:gap-4">
            <span class="rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white shadow-sm cursor-pointer" (click)="openCreatePage()">
              Create Task
            </span>

            
          </div>

          <div class="block md:hidden">
            <button class="rounded-sm bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75">
              <svg xmlns="http://www.w3.org/2000/svg" class="size-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>